<!DOCTYPE html>
<html>
<head>
  <title>Bindings</title>
</head>
<body ng-app="" class="ng-cloak">

Simple binding:
<input type="" name="" ng-model="name" />
{{ name }}
<hr />
<input type="" name="" ng-model="n1" /> + <input type="" name="" ng-model="n2" />
<p>{{ n1 + n2 }}</p>
<hr>
<input type="" name="" style="background-color: {{color}}" ng-model="color" />

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
</body>
</html>