<!DOCTYPE html>
<html>
<head>
  <title>Controllers</title>
</head>
<body ng-app="app"" class="ng-cloak">

<div ng-controller="FirstController">
  <input type="" name="" ng-model="name">
  {{name}}
</div>

<div ng-controller="SecondController">
  <input type="" name="" ng-model="name">
  {{name}}

  <div ng-controller="ThirdController">
    <input type="" name="" ng-model="name">
    {{name}}
  </div>
</div>

<div ng-controller="FourthController">
  <input type="" name="" ng-model="name">
  {{name}}

  <div ng-controller="FifthController">
    <input type="" name="" ng-model="name">
    {{name}}
  </div>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

<script type="text/javascript">
angular.module("app", [])
    .controller("FirstController", ['$scope', function ($scope) {
      $scope.name = "Foo"
    }])
    .controller("SecondController", ['$scope', function ($scope) {
      $scope.name = "Bar"
    }])
    .controller("ThirdController", ['$scope', function ($scope) {
      $scope.name = "Jebs"
    }])
    .controller("FourthController", ['$scope', function ($scope) {
      // $scope.name = "Jebs"
    }])
    .controller("FifthController", ['$scope', function ($scope) {
      // $scope.name = "Jebs"
    }])
</script>

</body>
</html>