<!DOCTYPE html>
<html>
<head>
  <title>basic directive linker</title>
</head>
<body ng-app="app"" class="ng-cloak">

<div ng-controller="FirstController">
  <h1>Directive as element</h1>
  <directive-as-any name="name"></directive-as-any>
  <hr />
  <div ng-repeat="pangalan in names">
    <directive-as-any name="pangalan"></directive-as-any>
    <input type="" ng-model="pangalan" input-on-click />
  </div>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

<script type="text/javascript">
angular.module("app", [])
    .controller("FirstController", ["$scope", function ($scope) {
      $scope.name  = "Doe"
      $scope.names = ["Foo", "Bar", "John"]
    }]).directive("directiveAsAny", function() {
      return {
        restrict: 'AEC',
        scope: {
          name: "="
        },
        templateUrl: "templates/input_and_display.html", 
      }
    }).directive("inputOnClick", function() {
      return {
        restrict: 'A',
        scope: {
          name: "="
        },
        link: function(scope, element, attrs) {
          document.addEventListener("keyup", function (e) {
              console.log(e.target.value)
          });
        }
      }
    })
</script>

</body>
</html>