<!DOCTYPE html>
<html>
<head>
  <title>basic directive</title>
</head>
<body ng-app="app"" class="ng-cloak">

<div ng-controller="FirstController">
  <h1>Directive as element</h1>
  <directive-as-any></directive-as-any>
  <hr />
  <div ng-repeat="name in names">
    <directive-as-any></directive-as-any>
  </div>

  <h1>Directive as element</h1>
  <div class="directive-as-class"></div>
  <hr />
  <div ng-repeat="name in names">
    <div class="directive-as-class"></div>
  </div>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

<script type="text/javascript">
angular.module("app", [])
    .controller("FirstController", ["$scope", function ($scope) {
      $scope.name  = "Doe"
      $scope.names = ["Foo", "Bar", "John"]
    }]).directive("directiveAsAny", function() {
      return {
        restrict: 'AEC',
        templateUrl: "templates/input_and_display.html",
      }
    }).directive("directiveAsClass", function() {
      return {
        restrict: 'C',
        templateUrl: "templates/input_and_display.html",
      };
    })
</script>

</body>
</html>