<!DOCTYPE html>
<html>
<head>
  <title>basic directive to controller</title>
</head>
<body ng-app="app"" class="ng-cloak">

<div ng-controller="FirstController">
  <h1>Directive as element</h1>
  <input type="" ng-model="name" input-on-click on-enter-key="addName(name)" />
  <hr />
  <div ng-repeat="pangalan in names">
    <input type="" ng-model="pangalan" input-on-click on-enter-key="addName(name)" />
  </div>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

<script type="text/javascript">
angular.module("app", [])
    .controller("FirstController", ["$scope", function ($scope) {
      $scope.name  = "Doe";
      $scope.names = ["Foo", "Bar", "John"];

      $scope.addName = function(name) {
        console.log(name)
      }
    }]).directive("inputOnClick", function() {
      return {
        restrict: 'A',
        scope: {
          name: "=",
          onEnterKey: "&",
        },
        link: function(scope, element, attrs) {
          element.bind("keyup", function (e) {
            if(e.keyCode === 13) {
              scope.onEnterKey({name: $(this).val()})
            }
          });
        }
      }
    })
</script>

</body>
</html>