<!DOCTYPE html>
<html>
<head>
  <title>basic directive scope</title>
</head>
<body ng-app="app"" class="ng-cloak">

<div ng-controller="FirstController">
  <h1>Directive as element</h1>
  <directive-as-any name="name"></directive-as-any>
  <hr />
  <div ng-repeat="pangalan in names">
    <directive-as-any name="pangalan"></directive-as-any>
  </div>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

<script type="text/javascript">

// 1. "@"   (  Text binding / one-way binding )
// 2. "="   ( Direct model binding / two-way binding )
// 3. "&"   ( Behaviour binding / Method binding  )

angular.module("app", [])
    .controller("FirstController", ["$scope", function ($scope) {
      $scope.name  = "Doe"
      $scope.names = ["Foo", "Bar", "John"]
    }]).directive("directiveAsAny", function() {
      return {
        restrict: 'AEC',
        scope: {
          name: "="
        },
        templateUrl: "templates/input_and_display.html",
      }
    })
</script>

</body>
</html>