<!DOCTYPE html>
<html>
<head>
  <title>Expression</title>
</head>
<body ng-app="" class="ng-cloak">
Simple addition:
{{ 2 + 3 }}
<hr />
Using function: 
{{ "HELLO".toLowerCase() }}
<hr />
{{ a }}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
</body>
</html>