<!DOCTYPE html>
<html>
<head>
  <title>ng-repeat</title>
</head>
<body ng-app="app"" class="ng-cloak">

<div ng-controller="FirstController">
  <input type="" name="" ng-model="name">
  {{name}}
  <hr />
  <div ng-repeat="name in names">
    <input type="" name="" ng-model="name">
    {{name}}
  </div>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

<script type="text/javascript">
angular.module("app", [])
    .controller("FirstController", ["$scope", function ($scope) {
      $scope.name  = "Doe"
      $scope.names = ["Foo", "Bar", "John"]
    }])
</script>

</body>
</html>