<!DOCTYPE html>
<html>
<head>
  <title>basic todo</title>
</head>
<body ng-app="app"" class="ng-cloak">

<div ng-controller="FirstController">
  <div ng-hide="editing">
    <h1>Add Todo</h1>
    <form ng-submit="addTodo()">
      <input ng-model="todo" />
      <button>Add</button>
    </form>  
  </div>

  <div ng-show="editing">
    <h1>Edit Todo {{editTodo}}</h1>
    <form ng-submit="updateTodo()">
      <input ng-model="todo" />
      <button>Update</button>
    </form>  
  </div>

  <hr />
  <div ng-repeat="todo in todos">
    {{todo}}
    <button ng-click="deleteTodo(todo)">x</button>
    <button ng-click="editTodo(todo)">/</button>
  </div>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

<script type="text/javascript">
angular.module("app", [])
    .controller("FirstController", ["$scope", function ($scope) {
      $scope.todo  = '';
      $scope.editing = false;
      $scope.todos = ["Listen", "Practice", "Explore"];
      $scope.oldTodo = ''

      $scope.addTodo = function() {
        $scope.todos.push($scope.todo)
        $scope.todo = ''
      }

      $scope.deleteTodo = function(todo) {
          $scope.todos.splice($scope.todos.indexOf(todo), 1);
      }

      $scope.editTodo = function(todo) {
          $scope.todo = todo
          $scope.oldTodo = todo
          $scope.editing = true;
      }

      $scope.updateTodo = function() {
        $scope.todos[$scope.todos.indexOf($scope.oldTodo)] = $scope.todo;
          $scope.todo = '';
          $scope.editing = false;
      }
    }])
</script>

</body>
</html>