<div ng-controller="LoginController">
  <h1>Login</h1>
  <form ng-submit="authenticate()">
    <div ng-show="errors.length">
      <div ng-repeat="err in errors">{{err}}</div>
    </div>
    <label>Email</label>
    <input type="email" ng-model="auth.email">
    <br>
    <label>Password</label>
    <input type="password" ng-model="auth.password">
    <br>
    <button>Login</button>
  </form>
</div>